@import url('https://fonts.googleapis.com/css?family=Open+Sans');


.curentEdition__box {
  position: relative;
}

#carouselBolivia {
  z-index: -1;
  position: absolute;
  display: block;
  width: 100%;
  margin-top: .1em;
}

.curentEdition, .curentEdition__title {
  padding-right: 0;
  padding-left: 0;
  z-index: 5;
}

.curentEdition {
  top: 2em;
}

.curentEdition__title {
  bottom: 1em;
  position: sticky;
}

h1 {
  background:rgba(1, 65, 43, 0.6);
  padding: 1rem;
  color: #e1a027;
  font-size: 3em;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.flower {
  z-index: 10;
  position: absolute;
  bottom: 1rem;
  right: 4rem;
  max-width: 100;
  height: auto;
}

.carousel-inner {
  max-height: 600px !important;
  z-index: -1;
  position: relative;
  display: flex;
}

.carousel-item {
  background: rgb(1, 65, 43);
  
}

.carousel-item img {
  position: relative;
  z-index: -1;
  position: relative;
  -webkit-filter: sepia(2);
  filter: sepia(1);
  /*filter: grayscale(100%);*/
  opacity: .5;
  -moz-transition: opacity .3s linear;
  -webkit-transition: opacity .3s linear;
  -ms-transition: opacity .3s linear;
  -o-transition: opacity .3s linear;
  transition: opacity .3s linear;
}

.carousel-indicators {
  top: 10px;
  bottom: 0;
}

