.white-text {
    color: #ffffff;
}
.bg-contact {
    background: rgba(34, 64, 54, 0.5);
}

.bg-grey {
    background: #e6e6e6;
}

.page-title-marginTop {
    margin-top: 13%;
}

.content {
    padding-left: 0;
    padding-right: 0;
    position: relative;
    font: 1em/1.8em 'Open Sans';
    padding: 30px;
    overflow: hidden;
}

.content-index-currentEdition {
    padding-left: 0;
    padding-right: 0;
    position: relative;
    margin-top:  20px;
    padding: 30px;
    background: #e6e6e6;
}

.content-index-currentEdition::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid #e6e6e6;
    left: 16%;
    margin-top: -56px;
    z-index: -1;
}

h1.page-title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 3rem;
}

h2.page-subtitle {
    position: relative;
    font-size: 1.5rem;
    letter-spacing: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #b1b1b1;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    text-transform: uppercase;
}

h2.page-subtitle::after {
    position: absolute;
    content: "";
    border-bottom: 1px solid #b1b1b1;
    width: 100%;
    bottom: 0;
    margin-left: 10px;
}

#contact-us  {
    background: url("../images/contact-us/world-maps.png") no-repeat center center;
    background-size: contain;
}

#contact-us p {
    color: #ffffff;
}

#contact-us a {
    color: #ffffff;
    text-decoration: none;
}

#contact-us a:hover {
    color: #E2A227;
}

#contact-us h2 {
    font-size: 2rem;
    letter-spacing: 2px;
}

/* scroll to top */

#toTop {
    display: none;
    position: fixed;
    bottom: 45px;
    right: 30px;
    z-index: 99;
    font-size: 30px;
    border: none;
    outline: none;
    background-color:transparent;
    color: #224036;
    cursor: pointer;
  }
  
  #toTop:hover {
    color: #E2A227;
  }


  /* Current Edition Page */

  #currentEditionPage {
      
  }

  .currentEditionPage-subtitle {
    font-size: 1.5rem;
    letter-spacing: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    text-transform: uppercase; 
    padding: 1rem;
    background:#c75204;
    font-weight: bold;
  }