:root {
    --white: #ffffff;
    --yellow: #E2A227;
    --green: rgb(34, 64, 54);
    --green05: rgba(34, 64, 54, 0.5);
    --green07: rgba(34, 64, 54, 0.7);
    --grey: #e6e6e6;
    --brown: #b62501;
}

.text-yellow {
 color: var(--yellow);
}

.bg-contact {
    background: var(--green05);
}

.bg-grey {
    background: var(--grey);
}

.bg-white {
    background: var(--white);
}

.page-title-marginTop {
    margin-top: 13%;
}

.content {
    padding-left: 0;
    padding-right: 0;
    position: relative;
    font: 1em/1.8em 'Open Sans';
    padding: 30px;
    overflow: hidden;
}

.content-index-currentEdition {
    padding-left: 0;
    padding-right: 0;
    position: relative;
    margin-top:  20px;
    padding: 30px;
    background: var(--grey);
}

.content-index-currentEdition::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid var(--grey);
    left: 16%;
    margin-top: -56px;
    z-index: -1;
}

h1.page-title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 3rem;
    font-weight: bold;
}

h2.page-subtitle {
    position: relative;
    font-size: 1.8rem;
    letter-spacing: 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--green07);
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    padding-bottom: 0.8rem;
    font-weight: bold;
    border-bottom: 1px solid var(--yellow);
}

h3.article-sub-subtitle {
    font-size: 1.3rem;
}

/*h2.page-subtitle::after {
    position: absolute;
    content: "";
    border-bottom: 1px solid var(--green07);
    width: 60%;
    bottom: 0;
    margin-left: 10px;
}*/


/* Contact us */

#contact-us  {
    background: url("../images/contact-us/world-maps.png") no-repeat center center;
    background-size: contain;
}

#contact-us p {
    color: #ffffff;
}

#contact-us a {
    color: #ffffff;
    text-decoration: none;
}

#contact-us a:hover {
    color: #E2A227;
}

#contact-us h2 {
    font-size: 2rem;
    letter-spacing: 2px;
}

/* scroll to top */

#toTop {
    display: none;
    position: fixed;
    bottom: 45px;
    right: 30px;
    z-index: 99;
    font-size: 30px;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--green);
    cursor: pointer;
  }

  #toTop:hover {
    color: var(--yellow);
  }


  /* Current Edition Page */

  #currentEditionPage .nav-tabs .nav-link:not(.active)::after {
    display:block;
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: #000;
    opacity:.3;
    margin-left: 0.9rem;
    margin-right: 0.9rem;

}

  .currentEditionPage-subtitle {
    font-size: 1.5rem;
    letter-spacing: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    padding: 1rem;
    background: var(--yellow);
    font-weight: bold;
  }

  .card-body-height {
      height: 7rem;
  }

.tab-content-withBorder {
    border-top: none;
    border-bottom: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    overflow: hidden;
}

.author {
    font-style: italic;
    color: var(--brown);
    line-height: 1.2;
}

.lead-article {
    font-size: 1.1rem;
    font-weight: 300;
}

p:first-child::first-letter {
    color: #903;
    float: left;
    font-family: Georgia;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
  }