@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$openSans-font: 1em/1.5em 'Open Sans';
$primary:  #224036;
$secondary:rgba(255, 255, 255, 0.5);
$yellow: #E2A227;

.text-secondary {
    color: $secondary;
}

.text-yellow {
    color: $yellow;
}

.opacity-50 {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.opacity-50:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

.bg-primary {
    background-color: $primary !important;
}

/*--Top Menu--*/
#topNav {
    background-color: $primary !important;
    border-bottom: 1px solid $secondary;
    
    .navbar {
        box-shadow: 2px 2px 5px #ffffff;
    }

    .navbar-brand {
        font-family: $openSans-font;
        line-height: 1.5rem;

        h3 {
            font-size: 1.4rem;
        }

        span {
            font-size: 1rem;
        }

        :hover {
            color: $yellow;
        }
    }

    .nav-link {
        text-transform: uppercase;
        font-size: 1rem;
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }

    .nav-item.active {
        border-left: 1px solid $secondary;
    }

    .topEmailAddress a {
     color: $secondary;
    }
    
    .nav-link:hover, .topEmailAddress a:hover  {
        color: $yellow !important;
    }
}

/*--Showcase Slider--*/

#showcase {
  position: relative;
  min-height: 600px;
  z-index: -1;
}
  
  #currentEdition__box {
      position: absolute;
      top: 2rem;
      z-index: 5;
  
   
    }



  /* 
  .currentEdition, .currentEdition__title {
    padding-right: 0;
    padding-left: 0;
    z-index: 5;
  }
  .currentEdition {
    top: 2rem;
    position: absolute;
  }
  
  @media screen and (max-width: 576px) {
    .currentEdition {
      top: 0;
      height: auto;
      }
  }
  
  .cover {
    -webkit-filter: drop-shadow(5px 5px 5px #222 );
    filter: drop-shadow(5px 5px 5px #222);
    max-height: 600px;
    height: auto;
  }
  
  
  .currentEdition__title {
    position: absolute;
    bottom: 20px;
    right: 0;
  }
  
  @media screen and (max-width: 576px) {
    .currentEdition__title {
      bottom: 0.5rem;
    }
  }
  @media screen and (max-width: 1200px) {
    .currentEdition__title {
      bottom: 10px;
    }
  }
  
  .currentEdition__title h1 {
    background:rgba(1, 65, 43, 0.6);
    padding: 1rem;
    color: #e1a027;
    font-size: 3rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
  }
  
  @media screen and (max-width: 1200px) {
    .currentEdition__title h1 {
      font-size: 2rem;
      }
  }
  @media screen and (max-width: 576px) {
    .currentEdition__title h1 {
      padding: 14px 14px 14px 30px;
      font-size: 1.5rem;
      bottom: 0;
      margin: 0;
      width: 100%;
      background:rgba(1, 65, 43, 0.9);
      }
  }
  .flower {
    z-index: 10;
    position: absolute;
    bottom: 20px;
    right: 40px;
    width: 100%;
    max-width: 14rem;
    height: auto;
    display: block;
    -webkit-filter: drop-shadow(5px 5px 5px #222 );
    filter: drop-shadow(5px 5px 5px #222);
  }
  
  @media screen and (max-width: 1200px) {
    .flower {
      width: 100%;
      max-width: 10rem;
       right: 20px;
    }
  }
  
  @media screen and (max-width: 576px) {
    .flower {
      max-width: 5rem;
      bottom: 0px;
      right: 20px;
    }
  }


  #carouselBolivia {
    z-index: -1;   
    margin-top: 0;
  }
   */


.carousel-item {
    min-height: 600px;  
}

.carousel-image-1 {
    background: url('../img/carousel/animal-care.jpg');
    background-size: cover;
    background-repeat: no-repeat;    
}

.carousel-image-2 {
    background: url('../img/carousel/equine-therapy.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-image-3 {
    background: url('../img/carousel/creative-performing-arts.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-item-color {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: $primary;
    height: 100%;
    opacity: .5;
    -moz-transition: opacity .3s linear;
    -webkit-transition: opacity .3s linear;
    -ms-transition: opacity .3s linear;
    -o-transition: opacity .3s linear;
    transition: opacity .3s linear;
  }