<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>footer</title>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">

    <link rel="stylesheet" href="../css/footer.css">

    <!--style>
        .footer__menu {
            font: 16px/20px Open Sans;
            padding: 1em;
            background: rgb(34, 64, 54, 0.5);
            color: #ffffff;
            transition: all .5s ease;
        }

        .footer__menu u {
            transition: all .5s ease;
        }
        .footer__menu a {
            color: #FFFFFF;
            padding: 2em;
            text-decoration: none;
        }

        a:hover {
        color: #E2A227 !important;
        text-decoration: none;
    }
        .navbar-nav {
            -ms-flex-direction: row;
            flex-direction: row;
        }

        .navbar-nav li {
        border-right: 1px solid #FFFFFF;
    }
    

        .navbar-nav li:last-child {
        border-right: none;
        padding-right: 0;
        margin-right: 0;
    }

    </style-->
</head>
<body>
   <footer>
       <div class="container">
           <nav class="footer__menu">
                <ul>
                    <li class="list-item">
                        <a href="#" title="Home">Home</a>
                    </li>
                    <li class="list-item">
                        <a href="#" title="About us">About us</a>
                    </li>
                    <li class="list-item">
                        <a href="#" title="Past Edisions">Past Edisions</a>
                    </li>
                    <li class="list-item">
                        <a href="#" title="Contact us">Contact us</a>
                    </li>
                </ul>
            </nav>
            
        </div>
        <div class="d-flex justify-content-center align-items-center footer__copyright">
            <span>© Cochabanner - All rights reserved</span>
        </div>
     </footer>







<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>
</html>