<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">




    <style>
    
    .img1 {
        position: relative;
        z-index: -1;
    }

    .img2 {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    }


.title {
    z-index: 10;
    position: absolute;
    display: flex;
}
h1 {
    background: rgba(1, 65, 43, 0.3);
    margin-bottom: 1em;
    width: 100%;
}
.floyerBox {
        z-index: 20;
        position: absolute;
        display: flex;

    }
    
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row align-items-end justify-content-end">
            <div class="col-md-8 title">
            <h1 mb-2> >> May Edition</h1>
        </div>
        <div class="floyerBox align-items-end justify-content-end">
                <img class="flower" src="../images/carousel/flower.png" alt="">
        </div>
        <img class="d-block w-100 img1" src="../images/carousel/equine-therapy.jpg" alt="Equine Therapy">
     </div>     
   





   <!-- jQuery library -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

   <!-- Popper JS -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

   <!-- Latest compiled JavaScript -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</body>

</html>