<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">




    <style>
    
    .img1 {
        position: relative;
        z-index: -1;
    }

        .img2 {
        position: absolute;
        z-index: 5;
        top: 0;
        left: 0;
}
        .wrapper {
            display: flex;
            position: relative;
            z-index: -1;
  align-items: flex-end;
  justify-content: flex-end;
}
.title {
        background: rgba(1, 65, 43, 0.3);
  z-index: 10;
  margin-bottom: 2em;
  position: absolute;
  display: flex;

    }
    
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row align-items-end justify-content-end">
<div class="col-md-9 title">
        <h1> >> May Edition</h1>
</div>
<div class="floyerBox">
        <img class="flower" src="../images/carousel/flower.png" alt="">
</div>
        <img class="d-block w-100 img1" src="../images/carousel/equine-therapy.jpg" alt="Equine Therapy">
     </div>     
    </div-->
    

</html>