<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

    <style>
    
    .img1 {
        position: relative;
        z-index: -1;
    }

        .img2 {
        position: absolute;
        z-index: 5;
        top: 0;
        left: 0;
    }
    
    </style>
</head>
<body>
        <div class="container-fluid">
                <img class="d-block w-100 img1" src="../images/carousel/equine-therapy.jpg" alt="Equine Therapy">
           <div class="container">
                <img class="d-block w-25 img2" src="../images/carousel/creative-performing-arts.jpg" alt="Creative & Performing Arts">
            </div>
            </div>
</html>